@charset "UTF-8";
html {
  scroll-behavior: smooth; }

p {
  margin: 0; }

@font-face {
  font-family: 'HarryPotter';
  src: url("../fonts/HARRYP__.TTF") format("truetype");
  font-size: 34px; }

.index-bg {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-image: url("../media/fondos/mist.jpg");
  background-position: center left;
  height: 100vh; }
  .index-bg img {
    filter: invert(0.9); }

.index-cta {
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(1, 9, 14, 0.692);
  height: 75vh;
  width: 50vw;
  border-radius: 0 5px 5px 0; }

.form-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: #0e1a40d6;
  margin: 0 30px 0 0;
  height: 400px;
  width: 300px;
  border-radius: 5px; }
  .form-container p {
    font-family: 'HarryPotter', Georgia, 'Times New Roman', Times, serif;
    color: #e7e7e7;
    font-size: 2rem;
    padding: 0;
    margin: 0; }

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  width: 270px;
  transform: translate(50px, 5px);
  font-size: 14px;
  border-radius: 5px; }

.form label {
  display: flex;
  flex-flow: column nowrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  color: #5d5d5d;
  width: 100%;
  margin: 0 0 10px 0; }
  .form label input {
    border: none;
    background-color: #f0f0f0;
    border-bottom: 1px #740002b4 solid; }
  .form label input:focus, .form label input:visited {
    outline: none; }

.btn-login {
  transform: translate(95px, 10px);
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: none;
  border: none;
  padding: 10px; }

.bio-login {
  height: 50px; }

.landing-bg {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-image: url("../media/fondos/hg-bg.jpg");
  background-position: left center;
  height: 100vh; }

.navbar-hp {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .navbar-hp .navbar-nav {
    display: flex;
    flex-flow: row nowrap; }
    .navbar-hp .navbar-nav li {
      margin: 0 5px; }

.navbar-bg {
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  width: 100%;
  top: 0; }

.welcome-information {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh; }

.welcome-information-titulo {
  font-family: 'HarryPotter', Georgia, 'Times New Roman', Times, serif;
  font-size: 6rem;
  color: #e7e7e7; }

.welcome-information-cta {
  color: #e7e7e7;
  display: none;
  font-size: 21px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  filter: drop-shadow(0.5px 4px 2px black); }

.scroll-to {
  filter: drop-shadow(0.5px 10px 2px white);
  height: 70px;
  width: 70px;
  position: fixed;
  text-align: center;
  top: 87vh;
  left: 47vw;
  z-index: 4;
  padding: 10px;
  cursor: pointer;
  animation: pulsate 2s ease-in-out infinite; }
  .scroll-to::before, .scroll-to::after {
    content: '\007C';
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    color: white;
    transform: rotate(317deg); }
  .scroll-to::after {
    transform: rotate(43deg);
    margin-left: 10px; }

@keyframes pulsate {
  0% {
    transform: scale(1.1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1.1); } }

.sections-bg {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-image: url("../media/fondos/diagon.jpg");
  background-position-y: -110px;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center; }

.cards-section {
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.card {
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 280px;
  height: 360px;
  border-radius: 10px;
  padding: 1.5rem;
  background: #0e1a40d6;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); }
  .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0; }

.card:hover {
  transform: translateY(-20px); }

.card:hover:before {
  opacity: 1; }

.card:hover .info {
  opacity: 1;
  transform: translateY(0px); }

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0; }

.card .info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  text-align: center;
  margin: auto; }
  .card .info h3 {
    font-family: 'HarryPotter';
    font-size: 2.5rem; }
  .card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px; }
  .card .info input {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 10px; }

.store {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background-color: #021520;
  background-size: cover;
  background-image: url("../media/fondos/d-alley.jpg");
  background-position: bottom; }
  .store aside {
    width: 400px;
    max-height: 530px;
    overflow: auto;
    margin-right: 10px; }
  .store section {
    width: 60vw; }

.store-information {
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: #0e1a40c2;
  color: #e7e7e7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  border-radius: 5px; }
  .store-information h5 {
    margin: 20px;
    text-align: center; }
  .store-information ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0; }
    .store-information ul::before {
      content: 'Atajos de navegación';
      text-align: center;
      margin: 10px 0; }
    .store-information ul li {
      margin: 10px 0; }
    .store-information ul li:last-child::before {
      content: 'space';
      text-transform: uppercase;
      line-height: 10px;
      font-weight: 800;
      letter-spacing: 0px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px; }
  .store-information p:last-child {
    margin: 20px 10px;
    color: #ffdb00; }

#item-card {
  transform: translateY(15px); }

.store-items-cards {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .store-items-cards .card-nav-buttons {
    display: flex;
    flex-flow: row nowrap;
    width: 30%;
    justify-content: space-around; }
    .store-items-cards .card-nav-buttons input {
      box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 50%;
      width: 30px;
      border: none;
      height: 30px;
      color: #e7e7e7;
      background-color: #1e771e; }
    .store-items-cards .card-nav-buttons .add-to-cart {
      box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border: none;
      border-radius: 10px;
      background-color: #19b33ac7;
      min-width: 150px;
      height: 30px;
      color: #ffff;
      width: 50%; }

.broom-option .card-bg {
  position: absolute;
  width: 200px;
  height: auto;
  filter: invert(0.5); }

.broom-option .option-stage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  border-radius: 5px;
  width: 400px;
  min-height: 610px;
  max-height: 610px;
  background-color: #e7e7e7; }
  .broom-option .option-stage .option-information {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
    .broom-option .option-stage .option-information .option-title {
      font-family: 'HarryPotter', Georgia, 'Times New Roman', Times, serif;
      width: 100%;
      font-size: 3rem;
      margin: auto; }
    .broom-option .option-stage .option-information .option-description {
      font-size: 15px;
      padding: 20px; }
    .broom-option .option-stage .option-information span {
      color: #5d5d5d;
      font-weight: 500;
      margin: 0px; }

.broom-option img.item-img {
  height: 300px;
  width: auto; }

.wand-option .card-bg {
  position: absolute;
  width: 150px;
  height: auto;
  filter: invert(0.5); }

.wand-option .option-stage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  width: 400px;
  min-height: 610px;
  max-height: 610px;
  background-color: #e7e7e7; }
  .wand-option .option-stage .option-information {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
    .wand-option .option-stage .option-information .option-title {
      font-family: 'HarryPotter', Georgia, 'Times New Roman', Times, serif;
      width: 100%;
      font-size: 3rem;
      margin: auto; }
    .wand-option .option-stage .option-information .option-description {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      min-height: 110px;
      padding: 10px;
      font-size: 15px;
      padding: 10px 20px; }
    .wand-option .option-stage .option-information span {
      color: #5d5d5d;
      font-weight: 500;
      margin: 0px; }
    .wand-option .option-stage .option-information .option-details {
      padding: 10px;
      display: flex;
      flex-flow: row nowrap;
      text-align: center;
      width: 100%; }
      .wand-option .option-stage .option-information .option-details p {
        margin: 0; }
      .wand-option .option-stage .option-information .option-details .options-details-item {
        width: 33.3%;
        min-height: 118px; }
        .wand-option .option-stage .option-information .option-details .options-details-item .option-details-title {
          margin: 10px 0;
          font-weight: bold; }
        .wand-option .option-stage .option-information .option-details .options-details-item .option-details-info {
          font-size: 0.9rem; }
        .wand-option .option-stage .option-information .option-details .options-details-item:nth-child(odd) {
          box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          color: #e7e7e7;
          background: #0e1a40da; }
  .wand-option .option-stage img.item-img {
    height: 250px;
    filter: drop-shadow(1px 0px 15px black); }

.trolley-cart {
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  background-image: url("../media/misc/trolley.png");
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  height: 60px;
  width: 54px;
  border-radius: 35%;
  animation: pulsate 4s ease-in-out infinite; }

.cart-details {
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #bddffdc2;
  padding: 10px;
  max-height: 500px;
  width: 330px;
  position: absolute;
  bottom: 15vh;
  right: 2vw;
  border-radius: 5px; }

.cart-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 100%; }
  .cart-container .cart-title {
    font-family: 'HarryPotter', Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-size: 2rem;
    color: #0e1a40; }
  .cart-container .cart-items-container {
    width: 95%;
    max-height: 320px;
    overflow: auto;
    border-radius: 5px; }
    .cart-container .cart-items-container .cart-item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      background-color: rgba(2, 21, 32, 0.74);
      font-size: 0.9rem;
      border-radius: 5px;
      margin: 20px 10px;
      height: auto; }
      .cart-container .cart-items-container .cart-item .cart-item-info {
        margin: 10px 0 0 10px;
        width: 70%; }
        .cart-container .cart-items-container .cart-item .cart-item-info .cart-item-name {
          color: #FFF;
          font-size: 15px;
          font-weight: 600; }
        .cart-container .cart-items-container .cart-item .cart-item-info .cart-item-price {
          color: #e7e7e7;
          font-weight: 300; }
        .cart-container .cart-items-container .cart-item .cart-item-info .cart-item-modifier {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          width: 80px;
          background-color: whitesmoke;
          border-radius: 5px;
          transform: translate(-3px, 10px); }
          .cart-container .cart-items-container .cart-item .cart-item-info .cart-item-modifier button {
            width: 30%;
            font-size: 16px;
            font-weight: 700;
            border: none; }
          .cart-container .cart-items-container .cart-item .cart-item-info .cart-item-modifier #cart-minus-btn {
            border-radius: 5px 0 0 5px;
            border-right: 1px #5d5d5d solid; }
          .cart-container .cart-items-container .cart-item .cart-item-info .cart-item-modifier #cart-plus-btn {
            border-radius: 0px 5px 5px 0;
            border-left: 1px #5d5d5d solid; }
      .cart-container .cart-items-container .cart-item .cart-item-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e7e7;
        border-radius: 0 5px 5px 0;
        box-sizing: border-box;
        width: 30%; }
        .cart-container .cart-items-container .cart-item .cart-item-img-container .cart-item-img {
          max-width: 72px;
          height: 80px; }
      .cart-container .cart-items-container .cart-item .cart-remove-btn {
        width: 25px;
        height: 25px;
        position: absolute;
        border: 2px #740002 solid;
        background: #fc5a3dd7;
        text-align: center;
        color: #e7e7e7;
        font-size: 13px;
        font-weight: 600;
        right: -5px;
        top: -5px;
        border-radius: 50%;
        cursor: pointer; }
        .cart-container .cart-items-container .cart-item .cart-remove-btn::before {
          content: 'x'; }
  .cart-container .cart-summary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-top: 10px; }
    .cart-container .cart-summary p {
      font-size: 30px;
      font-family: 'HarryPotter', sans-serif; }
    .cart-container .cart-summary span {
      font-size: 16px;
      color: #1a472a; }
  .cart-container .cart-action-btn-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center; }
    .cart-container .cart-action-btn-container .eliminar-btn {
      border: none;
      color: #740002;
      background-color: transparent; }
    .cart-container .cart-action-btn-container .comprar-btn {
      box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      width: 100px;
      background: rgba(4, 102, 4, 0.65);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: #e7e7e7;
      margin: 10px; }

.confirmar-compra {
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  top: 30vh;
  right: 35vw;
  width: 360px;
  background-color: #070707c4;
  color: #e7e7e7;
  border-radius: 5px; }
  .confirmar-compra h6 {
    font-family: 'HarryPotter', Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 20px 20px 0;
    text-align: center; }
  .confirmar-compra .confirmar-compra-converter {
    padding: 20px;
    display: flex;
    flex-flow: column nowrap; }
    .confirmar-compra .confirmar-compra-converter p:first-child {
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;
      color: #e7e7e7; }
    .confirmar-compra .confirmar-compra-converter .coin-converter {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 10px; }
      .confirmar-compra .confirmar-compra-converter .coin-converter .coin {
        width: 30px;
        height: 30px;
        margin-right: 10px; }
      .confirmar-compra .confirmar-compra-converter .coin-converter .coin-knut {
        width: 30px;
        height: 30px;
        margin-right: 10px; }
    .confirmar-compra .confirmar-compra-converter #confirmar-compra-btn {
      border: none;
      margin-top: 20px;
      background-color: transparent;
      color: #68cc75; }
    .confirmar-compra .confirmar-compra-converter #volver-compra-btn {
      border: none;
      margin-top: 20px;
      background-color: transparent;
      color: #fc5a3dd7; }
