@font-face {
  font-family: 'HarryPotter';
  src: url('../fonts/HARRYP__.TTF') format('truetype');
  font-size: 34px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&display=swap');