// ESTILOS Y DISTRUBICION DEL INDEX //
@import 'utils';

body {
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  ul { padding: 0}
  li {
    list-style: none;
  }
}

.selection-area {
  @include fl-col;
  @include glass;
  align-items: center;
  height: 80%;
  width: 500px;
  background: rgba(197, 192, 192, 0.521);
  padding: 20px;
  margin: 0 20px 0 0;
  .titulo{
    margin: 0;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: 700;
  }
  p {
    font-size: 1rem;
    margin: 3px 0 20px 0
    
  }
  strong {
    font-size: 16px;
    color: rgb(56, 131, 60)
  }

  .casas {
    @include fl-row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 0 0;
  }
}

.center-block {
  @include fl-col;
  @include glass;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.center-block .box {
  @include fl-row;
  align-items: center;
  justify-content: space-between
}



