@mixin bg-img-cover {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

@mixin bg-img-contain {
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

@mixin fl-col {
  display: flex;
  flex-flow: column nowrap;
}

@mixin fl-row {
  display: flex;
  flex-flow: row nowrap;
}

@mixin fl-center {
  align-items: center;
  justify-content: center;
}

@mixin glass {
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

@mixin hp {
  font-family: 'HarryPotter', 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

@mixin regular-font {
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}