@import 'utils';

.landing-bg {
  @include bg-img-cover;
  background-image: url('../media/fondos/hg-bg.jpg');
  background-position: left center;
  height: 100vh;
}

.navbar-bg {
 @include glass;
 position: fixed;
 width: 100%;
 top: 0;
}

.welcome-information {
  @include fl-col;
  @include fl-center;
  padding: 20px;
  height:100vh;
}

.welcome-information-titulo {
  @include hp;
  font-size: 6rem;
  color: $light-gray
}

.welcome-information-cta {
  color: $light-gray;
  display: none;
}

.scroll-to {
  filter: drop-shadow(0.5px 10px 2px white);
  height: 70px;
  width: 70px;
  position:fixed;
  text-align: center;
  top: 87vh;
  left: 47vw;
  z-index: 4;
  padding: 10px;
  cursor: pointer;
  animation: pulsate 2s ease-in-out infinite;
  &::before, &::after {
    content: '\005C';
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    color: white;
    transform:rotate(330deg)
  }
  &::after {
    transform:rotate(50deg);
    margin-left: 9px;
  }
}

@keyframes pulsate {
  0% { transform: scale(1.1)}
  50% { transform: scale(0.8) }
  100% { transform: scale(1.1) }
}





