@import 'utils';

.landing-bg {
  @include bg-img-cover;
  background-image: url('../media/hg-bg.jpg');
  background-position: left center;
  height: 100vh;
}

.navbar-bg {
 @include glass;
 position: fixed;
 width: 100%;
 top: 0;
}

.welcome-information {
  @include fl-col;
  @include fl-center;
  padding: 20px;
  height:100vh;
}

.welcome-information-titulo {
  @include hp;
  font-size: 6rem;
  color: $light-gray
}

.welcome-information-cta {
  color: $light-gray;
  display: none;
}

.scroll-to {
  @include glass;
  background-color: #f8f4f4a1;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  position:fixed;
  text-align: center;
  top: 87vh;
  left: 47vw;
  z-index: 4;
  padding: 10px;
  cursor: pointer;
}



