@import 'utils';

// IMAGENES //
.index-bg {
  @include bg-img-cover;
  background-image: url('../media/fondos/bricks.jpeg');
  background-position: center left;
  height: 100vh;
  img {
    filter: invert(0.9)
  }
}

.index-cta {
  @include glass;
  @include fl-col;
  @include fl-center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(1, 9, 14, 0.692);
  height: 75vh;
  width: 50vw;
  border-radius: 0 5px 5px 0;
  .welcome-title-container {
    @include hp;
    @include fl-col;
    @include fl-center;
    color:rgb(240, 240, 240);
  }
  .welcome-title {
    font-size: 6rem;
  }
  .welcome-title-span {
    font-size: 3rem;
  }
  p { 
    transform: translateY(130px);
    color: $dark-gray;
    font-size: 12px;
  }
}

// FORMULARIO //

.form-container {
  @include fl-col;
  @include fl-center;
  @include glass;
  background-color: rgba(1, 9, 14, 0.692);
  margin: 0 30px 0 0;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  p {
    @include hp;
    color: $light-gray;
    font-size: 2.4rem;
    padding: 0;
    margin: 0;
  }
}

.form {
  @include fl-col;
  @include fl-center;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 10, 0.37);
  width: 270px;
  transform: translate(50px, 5px);
  font-size: 14px;
  border-radius: 5px;
}

.form label {
  @include fl-col;
  @include regular-font;
  font-size: 15px;
  color: $dark-gray;
  width: 100%;
  margin: 0 0 10px 0;
  
  input {
    @include regular-font;
    border: none;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px #1b2e6e solid;
  }
  input:focus, input:visited {
    outline:  none;
  }
}



.btn-login {
  transform: translate(80px, 2px);
  @include regular-font;
  background: #1b2e6e;
  color: $light-gray;
  border: none;
  border-radius: 5px;
  padding: 5px 10px
}

.bio-login {
  height: 50px;
}

