@import 'utils';

*{
  // border: 1px red dotted;
}

.sections-bg {
  @include bg-img-cover;
  background-image: url('../media/fondos/diagon.jpg');
  background-position-y: -110px;
  height: 100vh;
  @include fl-row;
  @include fl-center;
}

.cards-section {
  @include fl-row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  @include glass;
  width: 280px;
  height: 360px;
  border-radius: 10px;
  padding: 1.5rem;
  background:#0e1a409c;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.card:hover {
  transform: translateY(-20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card {
  .info {
    @include fl-col;
    @include fl-center;
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    text-align: center;
    margin: auto;
    h3 {
      font-family: 'HarryPotter';
      font-size: 2.5rem;

    }
    p {
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 8px;
    }
    input {
      padding: 0.6rem;
      outline: none;
      border: none;
      border-radius: 3px;
      background: white;
      color: black;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease;
      margin-top: 10px;
    }
  }
}





