@import 'utils';

.sections-bg {
  @include bg-img-cover;
  background-image: url('../media/diagon.jpg');
  background-position: center bottom;
  height: 100vh;
  @include fl-row;
  align-items: center;
  justify-content: center
}

.card-body {
  @include glass;
  @include fl-col;
  height: 400px;
  width: 300px;
  margin: 0 20px;
  background-color: #0e1a407c;
  padding: 0;
  border-radius: 5px;
}

.card-img {
  @include bg-img-cover;
  background-image: url('../media/Ollivanders.jpg');
  height: 200px;
  width: auto;
  border-radius: 5px;
}

.card-title {
  font-family: 'HarryPotter';
  color: $light-gray;
  text-align: center;
  font-size: 2rem;
  p {
    padding: 0;
    margin: 0;
  }
}

.card-description {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: $hu;
  padding: 0 20px;
  p {
    padding: 0;
    margin: 0;
  }
}

.boton-card {
  background: none;
  border: none;
  color: $light-gray;
  padding: 20px 0;
  text-align: center;
}

