$gr: #740002;
$gr-g: #740002b4;
$sl: #1a472a;
$ra: #0e1a40;
$hu: #ffdb00;
$dark-gray: #5d5d5d;
$light-gray: #e7e7e7;

html {
  scroll-behavior: smooth;
}

@import 'fonts';
@import 'utils';
@import 'login';
@import 'landing';
@import 'sections';

@import 'producto';
@import 'index';
@import 'imagenes';
@import 'botones';
@import 'information';