@import 'utils';

.botones {
  @include fl-col;
  height: 80%;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

.boton-seleccion {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color:rgb(68, 68, 68);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.boton-seleccion:hover{
  background: #1A472A;
}

.botones-seleccionar-informacion {
  @include fl-col;
  justify-content: space-around;
  height: 150px;
}

.busqueda {
  border-radius: 5px;
  border:none;
}

.busqueda-box {
  @include fl-row;
  width: 100%;
  justify-content: space-around;
}

.title {
  height: 20px;
}