.informacion {
  background-color: rgba(245, 245, 245, 0.822);
  margin: 0 0 0 20px;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
}

.lista-dinamica {
  max-height: 300px;
  overflow: auto;
}

.item-informacion {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}