@mixin bg-img-cover {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

@mixin bg-img-contain {
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

@mixin fl-col {
  display: flex;
  flex-flow: column nowrap;
}

@mixin fl-row {
  display: flex;
  flex-flow: row nowrap;
}

@mixin glass {
  background: rgba(197, 192, 192, 0.521);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}